html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #0f0e17;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

iframe {
  border: none;
  overflow-x: hidden;
}

/* Set the width and height of the scroll bar */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Set the background color of the scroll bar */
::-webkit-scrollbar-track {
  background-color: #17e1e6 ;
}

/* Set the color of the scroll thumb */
::-webkit-scrollbar-thumb {
  background-color: #17e1e6 ;
  border-radius: 4px;
}